<%- include('header.ejs') %>





<h1 style="color: red;text-align: center;">404 not found</h1>
<a style=" display: block;text-align:center" href="/">Redirection</a>









<%- include('footer.ejs') %>
