<%- include('header.ejs') %>



<a href="/admin/create_article" class="ui basic button ">
    <i class="icon sticky note"></i>
    Création d'article
</a>

<a href="/admin/panel_ad" class="ui basic button ">
    <i class="icon chess rook"></i>
    Panel Administrateur
</a>










<%- include('footer.ejs') %>

